/* Basscss Color Base */

body {
  color: $dark-gray;
  background-color: #202020;
}

pre,
code {
  background-color: rgb(51, 51, 51);
  border-radius: $border-radius;
  color: white;
}


ul, ol {
  color: white;
}

a {
  color: $my-blue;
}

a:hover {
  text-decoration: none;
  color: $my-blue;
}

hr {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: $border-width;
  border-bottom-color: $border-color;
}

.blog-title {
  color: #fff;
}

.h2 {
  color: $my-blue;
  font-weight: 600;
}

.btn-default {
  color: $my-blue;
}

.btn-default:hover {
  color: white;
}

.btn-primary {
  background: $my-blue;
  border-color: $my-blue;
}

.btn-primary {
  background: $my-blue;
  border-color: $my-blue;
}


h2, h3, h4 {
  color: #fff;
}