/* Basscss Color Base */

body {
  color: $dark-gray;
  background-color: #1A1A1A;
}

pre,
code {
  background-color: rgb(51, 51, 51);
  border-radius: $border-radius;
}

hr {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: $border-width;
  border-bottom-color: $border-color;
}

.blog-title {
  color: white;
}