/* Basscss Color Base */

body {
  color: $dark-gray;
  background-color: #1A1A1A;
}

pre,
code {
  background-color: rgb(51, 51, 51);
  border-radius: $border-radius;
  color: white;
}


ul, ol {
  color: white;
}

a {
  color: #5D8CED;
}

a:hover {
  text-decoration: none;
  color: rgb(55, 116, 238);
}

hr {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: $border-width;
  border-bottom-color: $border-color;
}

.blog-title {
  color: white;
}

.h2 {
  color: #385C7B;
  font-weight: 600;
}

.btn-default {
  color: #385C7B;
}

.btn-default:hover {
  color: white;
}

.btn-primary {
  background: #385C7B;
  border-color: #385C7B;
}

.btn-primary {
  background: #385C7B;
  border-color: #385C7B;
}


h3, h4 {
  color: #5D8CED;
}