.site-header {
  padding-top: 0.2rem;
  padding-bottom: 0.8rem;
  background-color: black;
  // box-shadow: $dark-gray 1px 2px 1px, $dark-gray 1px 2px 2px;
  margin-bottom: 20px;
}

.site-header a {
  color: $my-blue;
  font-size: $h3;
  font-weight: 300;
  background-image: none;
  text-decoration: none;
}

.site-header a:hover {
  color: $my-blue;
}

.site-header .site-title {
  font-size: $h2;
  font-weight: 600;
}

.site-nav {
  margin-top: $space-2;
  
}

.site-header nav a {
  color: $my-blue;
  font-weight: 600;
}

.site-header nav a:hover,
.site-header nav a:focus,
.site-header nav a:active {
  color: $my-blue;
  opacity: 1;
}

.site-nav a + a {
  margin-left: 1em;
}

.site-header a:hover,
.posts .post a:hover .post-meta,
.posts .post a:hover .post-title,
.posts .post a:hover .post-summary {
  opacity: 0.88;
}

.posts .post a {
  text-decoration: none;
}

.posts .post a:hover .post-title {
  color: $my-blue;
}

.site-header {
  text-align: center;
}

.site-header .site-nav {
  text-align: center;
}
