.site-header {
  padding-top: 0.5rem;
  padding-bottom: 1.3rem;
  background-color: black;
}

.site-header a {
  color: #385C7B;
  font-size: $h3;
  font-weight: 300;
  background-image: none;
  text-decoration: none;
}

.site-header a:hover {
  color: #fff
}

.site-header .site-title {
  font-size: $h2;
}

.site-nav {
  margin-top: $space-2;
}

.site-header nav a {
  color: #385C7B;
  
}

.site-header nav a:hover,
.site-header nav a:focus,
.site-header nav a:active {
  color: #fff;
  opacity: 1;
}

.site-nav a + a {
  margin-left: 1em;
  
}

.site-header a:hover,
.posts .post a:hover .post-meta,
.posts .post a:hover .post-title,
.posts .post a:hover .post-summary {
  opacity: 0.88;
}

.posts .post a {
  text-decoration: none;
}

.posts .post a:hover .post-title {
  color: #385C7B;
  
}

.site-header {
  text-align: center;
}

.site-header .site-nav {
  text-align: center;
}
