.pagination {
  font-size: 1rem;
  font-family: Helvetica Neue, 'Inter', -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-align: center;
}

.pagination a, .pagination .disabled {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #84c0f1;
  border: 1px solid #84c0f1;
  border-radius: 0.1875em;
  color: black;
  padding: 1em 1.5em;
  text-decoration: none;
}

.pagination .disabled {
  color: #fafafa;
  background: #303030;
  border: 1px solid #303030;
  opacity: 0.5;
  pointer-events: none;
}

.pagination a:hover, .pagination a:focus {
  border: 1px solid #417096;
  background: #417096;
}

.pagination a:active {
  border: 1px solid #84c0f1;
  background: #84c0f1;
}

.pagination .button {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.button-disabled {
  opacity: 0.55;
  background-color: rgb(54, 50, 50);
}

.button-disabled:hover,
.button-disabled:active,
.button-disabled:focus {
  cursor: not-allowed;
  background-color: rgb(54, 50, 50);
}
