

.posts .post {
  margin-bottom: 0.75em;
  border-bottom: thin solid $my-blue;
}

// .post {
//   margin-left: 1rem;
//   margin-right: 1rem;
//   margin-bottom: 1rem;
// }

.posts {
  margin: 0%;
  padding: 0%;
}

.posts .post:last-child {
  border-bottom: none;
  margin-bottom: .375em;
  padding-bottom: 0;
}

.post-link .post-title {
  margin-top: 0;
  font-weight: 550;
  color: #fff;
}

.post-footer {
  @extend .italic;

  margin-top: .75rem;
  text-align: center;
}

.post-footer .avatar {
  margin: 2rem 0;
  width: 100px;
  border-radius: 50%;
}

.meta,
.post-meta {
  width: auto;
  font-weight: 100;
  margin: 0;
  padding: .25em 0;
  color: #fff; // this is page date and read minutes colors
  font-style: italic;
}



.post-meta {
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.6rem;
}

.blog-title {
  margin-bottom: 0%;
  padding-bottom: 0%;
}

.related-post-title {
  border-bottom: thin solid #f3f3f3;
}
