.posts .post {
  transition: all 0.5s ease;
}

.posts {
  margin-bottom: 0%;
  padding: 0%;
}

.post-link .post-title {
  font-weight: 550;
  color: #fff;
}

.post-link {
  margin: 0%;
  margin-bottom: 2rem;
}

.post-footer {
  @extend .italic;
  text-align: center;
}

.post-footer .avatar {
  width: 100px;
  border-radius: 50%;
}

.post-title {
  border-bottom: 5px solid #fff;
  color: #fff;
  padding-bottom: .25em;
  text-decoration: none;
}

.post-link {
  line-height: 40px;
}

.post-link a:hover {
  border-bottom: 5px solid $my-blue;
  padding-bottom: .25em;
  color: $my-blue;
  text-decoration: none;
}


.meta,
.post-meta {
  width: auto;
  font-weight: 100;
  margin: 0;
  color: #fff; // this is page date and read minutes colors
  font-style: italic;
}

.post-meta {
  font-size: 0.7rem;
}

.blog-title {
  margin-bottom: 0%;
  margin-top: 40px;
  padding-bottom: 0%;
}

.related-post-title {
  border-bottom: thin solid #f3f3f3;
}
