.posts .post {
  transition: all 0.5s ease;
}

.posts {
  margin-bottom: 0%;
  padding: 0%;
}

.post-link .post-title {
  font-weight: 510;
}

.post-link {
  margin: 0%;
  margin-bottom: 2.5rem;
}

.post-footer {
  @extend .italic;
  text-align: center;
}

.post-footer .avatar {
  width: 100px;
  border-radius: 50%;
}

.post-title {
  border-bottom: 3px solid rgba(255, 255, 255, 0.76);
  padding-bottom: .25em;
  text-decoration: none;
  letter-spacing: 0.5px;
}


.post-link a:hover {
  border-bottom: 3px solid $my-blue;
  padding-bottom: .25em;
  text-decoration: none;
}

.post-link {
  line-height: 39px;
}

.meta,
.post-meta {
  width: auto;
  font-weight: 100;
  margin: 0;
  color: rgba(255, 255, 255, 0.76); // this is page date and read minutes colors
}

.post-meta {
  font-size: 0.8rem;
  letter-spacing: 3px;
}

.blog-title {
  margin-bottom: 0%;
  margin-top: 40px;
  padding-bottom: 0%;
}

.related-post-title {
  border-bottom: thin solid #f3f3f3;
}

.blog-meta {
  font-size: 0.7rem;
  letter-spacing: 0.5px;
}
